fastapi
pydantic-settings
gunicorn
uvicorn
aiohttp
chromadb
asyncpg
langchain
langchain-community
langchain-text-splitters
tiktoken
clean-text
unidecode
torch
sentence-transformers
pandas
razdel
openpyxl
pypdf
python-docx